@import url("https://fonts.googleapis.com/css2?family=Barlow");
@import url("https://fonts.googleapis.com/css2?family=Fraunces");
header {
  background: #3EBFFF;
}

#nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  width: calc(100% - 100px);
}

#icon-hamburger {
  display: none;
}

nav {
  width: 25%;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul a {
  font-family: "Barlow";
  color: #ffffff;
  padding: 0.75em 1em;
}
nav ul a:hover {
  background: #ffffff;
  color: #0e0e0e;
  border-radius: 25%/50%;
}

#banner {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}
#banner::after {
  content: "";
  background: url("/src/assets/img/icon-arrow-down.svg") no-repeat;
  width: 36px;
  height: 114px;
  display: block;
  left: 48%;
  position: absolute;
  top: 45%;
}
#banner div {
  position: absolute;
  top: 30vh;
  margin: 0;
}
#banner h1 {
  text-align: center;
  text-transform: uppercase;
}
#banner img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.about {
  display: flex;
  flex-wrap: wrap;
}
.about .content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about .content .text {
  flex: 1 1 50%;
}
.about .content img {
  flex: 1 1 50%;
  max-width: 100%;
}
.about .content.inline {
  flex: 1 1 50%;
  position: relative;
}

.text-content {
  max-width: 70%;
  margin: 0 auto;
  padding: 0 9vw;
}
.text-content p {
  padding: 0 0 2% 0;
}
.text-content a {
  color: #23303e;
  font-family: "Fraunces";
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
}
.text-content a:hover::after {
  border-radius: 15%/100%;
  content: "";
  width: 100%;
  height: 12px;
  position: absolute;
  top: 67%;
  left: 0;
  z-index: -1;
}

.link-yellow:hover::after {
  background: #fad400;
}

.link-red:hover::after {
  background: #fe7867;
}

.inline .text {
  position: absolute;
  margin: 40% 0 0 0;
}
.inline .text .text-content {
  text-align: center;
}
.inline .text h2, .inline .text p {
  color: #19536b;
}

.testimonilas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 6vw 0 10vw 0;
}
.testimonilas h2 {
  color: #818498;
  flex: 1 1 100%;
  text-align: center;
  padding: 0 0 3vw 0;
  text-transform: uppercase;
}
.testimonilas .content {
  display: flex;
  flex-wrap: wrap;
  max-width: calc((100% / 3) - 16vw);
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0 8vw;
}
.testimonilas .content img {
  border-radius: 50%;
}
.testimonilas .content p {
  text-align: center;
}
.testimonilas .content .client-info {
  text-align: center;
}
.testimonilas .content .client-info span {
  color: #a7abae;
}

.gallery {
  display: flex;
  align-items: center;
}
.gallery div {
  flex: 1 1 auto;
}
.gallery div img {
  max-width: 100%;
  display: block;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-flow: column;
  padding: 5vw 0 0 0;
  background: #90d4c5;
}
footer svg path {
  fill: #458c7e;
}
footer .menu,
footer .social-network {
  display: flex;
  justify-content: space-between;
  margin: 2vw 0;
}
footer .menu a,
footer .social-network a {
  padding: 1vw;
  color: #458c7e;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #19536b;
}

@media screen and (min-width: 375px) and (max-width: 725px) {
  #banner::after {
    height: 79px;
    left: 48%;
    top: 33%;
    background-size: 20px;
  }
  #banner div {
    top: 0;
  }
  #banner h1 {
    font-size: 1.95rem;
  }

  #icon-hamburger {
    display: block;
    position: fixed;
    left: 90vw;
    z-index: 1;
  }

  nav {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    top: 10vh;
    background: #ffffff;
    left: 5%;
    padding: 6vw;
    width: calc(90% - 12vw);
    transition: top 0.5s ease;
  }
  nav.active {
    visibility: visible;
    top: 12vh;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    padding: 1vh 0;
  }
  nav ul a {
    color: #818498;
  }

  .about .content {
    order: revert;
  }
  .about img {
    order: -1;
  }
  .about .content.inline {
    flex: 1 1 100%;
  }

  .text-content {
    padding: 10vh 9vw;
  }

  .inline .text {
    margin: 0;
  }
  .inline .text h2 {
    font-size: 1.5rem;
  }
  .inline .text .text-content {
    text-align: center;
    max-width: 100%;
    margin-top: 53vw;
    font-size: 0.75rem;
  }

  .testimonilas .content {
    max-width: 100%;
    padding: 4vh 8vw;
  }

  .gallery {
    flex-wrap: wrap;
  }
  .gallery div {
    flex: 1 1 50%;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0e0e0e;
}

h1 {
  color: #ffffff;
  font-weight: 900;
  font-family: "Fraunces";
  font-size: 6rem;
  color: #ffffff;
}

h2 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 2.9rem;
  color: #23303e;
}

h3 {
  font-family: "Fraunces";
  font-weight: 900;
  color: #23303e;
}

p {
  color: #a7abae;
  line-height: 1.5;
  font-weight: 600;
}

/*# sourceMappingURL=styles.css.map */
